.footer {
  background: $black;
  color: $white;
  padding: $spacing-4;
  text-align: center;
  font-size: 14px;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: lighten($primary, 10%);
    }
  }
}
