.navbar {
  background: $black;
  padding: $spacing-2;

  a {
    color: $white;
    margin-right: $spacing-2;
    text-decoration: none;
    font-weight: 600;
    position: relative;

    &:hover {
      color: $primary;
    }

    &.active::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $primary;
    }
  }
}
